@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@font-face {
  font-family: BigJohn;
  src: url(fonts/BigJohn.otf);
}
body {
  font-family: "Josefin Sans", sans-serif;
  color: #333;
}
h1 {

}
h2{

}
h3 {

}
.head {
  padding: 50px;
  background-color: #00e676;
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
	background-color:#111155;
    color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
  	color:#aaaacc;
}

.navbar-bright li > a:hover {
    background-color:#000033;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#mainCol h2 {
	padding-top: 55px;
    margin-top: -55px;
}
