@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@font-face {
  font-family: BigJohn;
  src: url(fonts/BigJohn.otf);
}

.head {
  padding: 50px;
  background-color: #00e676;
  color: white;
  text-align: center;
}
