 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are Team Torch. Our mission is to teach and prepare team members for careers and interests in programming,  technology and engineering as well as team leadership and organization.  We also strive to teach these skills in a fun and competitive environment with trained, talented, and experienced coaches and mentors. </p>
                </div>
                <div class="col-lg-4">
                    <p>In the spirit of gracious professionalism, we'd love to share our code with you for this season. Download it below.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Code
                    </a>
                </div>
            </div>
        </div>
    </section>
